<footer class="footer">
    <div class="footer__btn">
        <a href="#"><img src="../assets/images/ico-arrow.svg" alt="Subir"></a>
    </div>
    <div class="footer__links">
        <nav class="footer__pages">
            <ul>
                <li><a href="">articles</a></li>
                <li><a href="">books</a></li>
                <li><a href="">events</a></li>
                <li><a href="">reasons</a></li>
                <li><a href="">tips</a></li>
            </ul>
        </nav>
        <nav class="footer__social">
            <ul>
                <li><a href="">twitter</a></li>
                <li><a href="">instagram</a></li>
                <li><a href="">mastodon.social</a></li>
            </ul>
        </nav>
        <div class="footer__copy">
            <span>©2017</span>
            <p>We <span class="footer__heart">&hearts;</span> components</p>
        </div>
    </div>
</footer>