<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Anonymous Proxy</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="wrapper">
    <header class="header">
    </header>
    <div class="hero">
      <h1 class="hero__title"> anonymous <br> proxy</h1>
      <p class="hero__text">In hac habitasse platea dictumst</p>
      <a class="hero__go-down"href="#reason"></a>
    </div>
    <main class="main">
      <section class="main__first-section">
        <p class="first-section__subtext">insomnia tips</p>
        <h2 class="first-section__title">looking thought a window</h2>
        <p class="first-section__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
          diam nec lectus. Vivamus
          semper sodales rutrum.</p>
        <button class="first-section__btn">Go</button>
      </section>
      <section id="reason" class="main__second-section">
        <h2 class="second-section__title">3 reasons to purchase</h2>
        <div class="second-section__list">
          <ul>
          <li class="second-section__li">
            <h3>Ut sed metus</h3>
            <p>Lorem, ipsum dolor sit amet, consectetur.</p>
          </li>
          <li class="second-section__li">
            <h3>Curabitur ac erat</h3>
            <p> Mauris mattis urna quis lorem molestie.</p>
          </li>
          <li class="second-section__li">
            <h3>Morbi dictum</h3>
            <p>Aliquam in dolor et dolor tincidunt.</p>
          </li>
        </ul>
        </div>
        <button class="second-section__btn">More reasons</button>
      </section>
      <footer class="footer">
          <a class="footer__btn" href="#">
          </a>
        <div class="footer__links">
        <nav class="footer__pages">
          <ul>
            <li><a href="">articles</a></li>
            <li><a href="">books</a></li>
            <li><a href="">events</a></li>
            <li><a href="">reasons</a></li>
            <li><a href="">tips</a></li>
          </ul>
        </nav>
        <nav class="footer__social">
          <ul>
            <li><a href="">twitter</a></li>
            <li><a href="">instagram</a></li>
            <li><a href="">mastodon.social</a></li>
          </ul>
        </nav>
        <div class="footer__copy">
          <span>©2017</span>
          <p>We <span class="footer__heart">&hearts;</span> components</p>
        </div>
        </div>
      </footer>
    </main>

  </div>
</body>

</html>