<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Anonymous Proxy</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>

  <div class="wrapper">
    <partial src="_header.html" label="header"></partial>
    <partial src="_hero.html" label="hero"></partial>
    <partial src="_main.html" label="main"></partial>
    <partial src="_footer.html" label="footer"></partial>
  </div>
  
</body>

</html>