.first-section__btn{
    height: 45px;
    width: 76px;
    background-color:$color-light;
    border: 2px solid $color-contrast;
    border-radius: 22.5px;
    color: $color-contrast;
    font-size: 1.25rem;
    margin:0;
    cursor: pointer; 

    &:hover {
        transform: scale(1.5);
        background-color: $color-contrast;
        color: $color-light;
    }
    @include tablet{
       width: 91px ;
    }
    @include desktop{
        width: 160px;
    }
    /* Animacion*/
    
}

.second-section__btn{
    height: 45px;
    width: 184px;
    font-size: 1.25rem;
    background-color: $color-contrast;
    border: 2px solid $color-contrast;
    color: $color-light;
    border-radius: 22.5px;
    cursor: pointer; 
    @include tablet{
        width: 210px ;
     }
     @include desktop{
         width: 255px;
     }

}