.footer{
    background-color: $color-dark;
    color: $color-light;
    padding-top: 60px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
    margin:$general-margin;
    position: relative;
    display: flex;
    justify-content: center;
    @include tablet{
        padding-left: 39px;
        padding-right: 39px;
        padding-top: 45px;
    }
    @include desktop{
        padding-left: 0;
        padding-right: 0;
    }
    .footer__btn{
        background-color: $color-light;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        position: absolute;
        top:-5%;
        text-align: center;
        @include tablet{
            top:-8%;
        }
        a{
            width: 45px;
            height: 45px;
            padding: 10px;
            display: flex;
            @include flex-center;
        }
    }

}

.footer__links{
    display: flex;
    flex-direction: column;
    @include flex-center;
    text-align: center;
    line-height: 30px;
    width: 100%;
    @include tablet{
        text-align: left;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        text-align: baseline;
    }
    @include desktop{
        padding-left: 0;
        padding-right: 0;
        max-width: 540px;
    }
    a{
        text-transform: uppercase;
        color:$color-light;
        &:hover{
            color:$color-contrast;
        }

    }
    .footer__pages{
        margin-bottom: 30px;
        @include tablet{
            order: 2;
        }

    }
    .footer__social{
        margin-bottom: 30px;
        @include tablet{
            order: 1;
        }
    }
    .footer__copy{
        font-size: 0.878rem;
        @include tablet{
            order: 3;
        }
        p{
            margin: 0;
        }
        .footer__heart{
            color:$color-contrast;
        }
    }

}