$color-light:#ffffff;
$color-light-tone:#eff9ff;
$color-light-midtone:#8ccbea;
$color-midtone: #0271bc;
$color-dark: #304268;
$color-contrast:#f26002;
$color-font-text:#4a4a4a;

$font-family: 'Roboto', sans-serif;
$font-family-title: 'Roboto Slab', serif;

$general-margin: 0 auto;